/* Global CSS */

*{
    margin:0;
    padding:0;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Bebas Neue', cursive;
}
p,a{
    font-family: 'Roboto', sans-serif;
}


/* Header Section Start */

.header{
    background:#fff7e9;
}

/* navbar start */

.navbar{
    padding: 20px 0px;
}
.logo{
    width: 300px;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color:black;
}


.navbar-light .navbar-nav .nav-link {
    color: black;
    font-size: 18px;
    padding: 0px 15px;
    margin: 0px 10px;
    font-weight: 600;
    transition: all 0.5s linear;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #7dc584;
    
}
/* navbar end */
/* banner part start */

.banner .banner-content{
    margin-top:80px;
}
.banner .banner-content h1{
    font-size:85px;
    color: #363958
}
.banner .banner-content span{
    color: #76c27e;
}
.banner .banner-content p{
    font-size: 16px;
    color: #3E3E3E;
    padding-right: 30%;
    margin: 20px 0px;
    font-weight: 500;
}

.banner .banner-bag{
    margin-top: -521px;
    padding-left: 20px;
    width: 96%;
}
.btn-buy{
    background: #2A1E59;
    color: #fff;
    padding: 15px 30px;
    font-size: 12px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
}
.fa{
    font-size: 17px;
    padding-right: 5px;
}

/* Header Section End */

/* feature section start */

.feature{
    padding: 80px 0px;
}
.feature-content{
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}

.feature-content h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
}
.feature-content p{
    padding-right: 39%;
    font-size: 14px;
}
.features{
    padding: 25px 20px 0px;
}
.feature-pic{
    padding: 40px 0px;
}


/* feature section End */
/* Casual backpack Start */

.casual-backpack{
    padding:80px 0px;
}
.casual-heading{
    color: #363957;
    font-size: 50px;
    padding: 30px 0px;
}
.card{
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgb(0 0 0 / 5%);
    border-radius: 20px;
    padding: 20px;
}
.card-img{
    text-align: center;
    background: #f1f1f1;
    height: 280px;
    border-radius: 25px;
}
.card-img img{
    width: 60%;
    margin-top: 25px;
}
.card-body{
    padding: 25px 0px 0px 0px;
}
.card-body h5{
    font-family: 'Roboto', sans-serif;
}
.card-btn{
    float:right; 
}
.bag-price{
    color: #76C27E;
}

/* Casual backpack End */

